[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 13.0

[submodule "OCA/account-analytic"]
	path = OCA/account-analytic
	url = git@github.com:OCA/account-analytic.git
	branch = 13.0

[submodule "OCA/calendar"]
	path = OCA/calendar
	url = git@github.com:OCA/calendar.git
	branch = 13.0
